* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navigation section*/

.navbar {
  /* height: 200px; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

#logo{
  margin-left: 30px;
}

#d-time{
  margin-left: 80px ;
}

#search{   
  width: 40%;
  margin-left: 100px;
}

#search i{
  margin-right: 10px;
}

#login{
  margin-left: 80px;  
}

.btn{
  font-size: 20px;
  /* text-align: center; */
}

#cart{
  margin-left: 80px;
}

/* hero section */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  flex: 1 1 0%;
  max-width: 1280px;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.img img {
  height: 234.862px;
  width: 1280px;
  cursor: pointer;
  border-radius: 0px;
}

/* product main sections */
.sections-main {
  max-width: 3000px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.section {
  flex: 1 1 0%;
  max-width: 1280px;
}

.selectcupon-list {
  display: flex;
  flex-direction: column;
  background: url(https://cdn.grofers.com/layout-engine/2021-10/white-bg-1.png);

}

.select-flex {
  max-width: 100%;
  overflow: auto hidden;
  scrollbar-width: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 20px;
  margin: 16px;
}

.select-item-img {
  height: 195px;
  width: 335.4px;
  cursor: pointer;
}


/* Image Cart Section product catagory  */
.widgets-container {
  display: flex;
 align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.widgets-catimg {
  flex: 1 1 0%;
  max-width: 1280px;
}

.widgets-multiimage {
  background-color: rgb(255, 255, 255);
}

.widgets-multiimage-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cat-item img {
  height: 188.235px;
  width: 128px;
  cursor: pointer;
  border-radius: 0px;
}

/* footer */
footer{
  width: 100%;
  height: 350px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-evenly;
}

.links,.Categories,.Contacts,.social{
  margin-top: 20px;
}

.links a{
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  line-height: 50px;
  font-size: 20px;
}

.Categories a{
  text-decoration: none;
  line-height: 50px;
  font-size: 20px;
  color: inherit;
  cursor: pointer;
  
}

.Contacts p,a{
  text-decoration: none;
  line-height: 50px;
  font-size: 20px;
}

.social i{
  color: black;
  margin-right: 10px;
}

.footer .container .social-icons a:hover {
  color: #ddd;
}

/* Responsive */
@media (max-width: 768px) {
  .sections {
    flex-direction: column;
    align-items: center;
  }

  .section {
    margin-bottom: 20px;
  }

  .category-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .select-flex {
    display: flex;
    flex-wrap: wrap;
    /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 3px 28px;
  margin-top: 20px 0px;
  max-width: 1200px; */
  }
  .widgets-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
  }
}

@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

}